body {
  background-color: #55ACEE;
  color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Raleway', sans-serif;
  -ms-flex-pack: center;
      justify-content: center;
  margin: auto; }

h2 {
  font-style: italic; }

h1 {
  margin-bottom: 70px; }

h2, h1, h3 {
  text-align: center; }

button {
  -ms-flex-align: center;
      align-items: center;
  background-color: #55ACEE;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-family: 'Raleway', sans-serif;
  margin: 40px auto;
  padding: 15px;
  width: 200px; }

.tweet {
  -ms-flex-align: center;
      align-items: center;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  margin: auto;
  padding: 15px 64px;
  text-decoration: none;
  width: 70px; }
